- var wallpaper_index = 'images/bg/wallpaper_index.jpg';
- var kewallpaper = 'images/bg/kewallpaper.jpg';
- var wallpaper_announcement = 'images/bg/wallpaper_announcement.jpg';
- var wallpaper_booking = 'images/bg/wallpaper_booking.jpg';
- var wallpaper_feedback = 'images/bg/wallpaper_feedback.jpg';
- var wallpaper_menu = 'images/bg/wallpaper_menu.jpg';
- var wallpaper_keips = 'images/bg/wallpaper_keips.jpg';
- var wallpaper_admin = 'images/bg/wallpaper_admin.jpg';