- var wallpaper_index = 'images/bg/wallpaper_index.jpg';
- var kewallpaper = 'images/bg/kewallpaper.jpg';
- var wallpaper_announcement = 'images/bg/wallpaper_announcement.jpg';
- var wallpaper_booking = 'images/bg/wallpaper_booking.jpg';
- var wallpaper_feedback = 'images/bg/wallpaper_feedback.jpg';
- var wallpaper_menu = 'images/bg/wallpaper_menu.jpg';
- var wallpaper_keips = 'images/bg/wallpaper_keips.jpg';
- var bg0 = 'images/bg/bg0.jpg';
- var bg1 = 'images/bg/bg1.jpg';
- var bg2 = 'images/bg/bg2.jpg';
- var bg3 = 'images/bg/bg3.jpg';
- var bg4 = 'images/bg/bg4.jpg';
- var bg5 = 'images/bg/bg5.jpg';
- var bg6 = 'images/bg/bg6.jpg';
- var bg7 = 'images/bg/bg7.jpg';