footer.ftco-footer.bg-light.ftco-section
  .container
    .row
      .mouse
        a.mouse-icon(href='/')
          .mouse-wheel
            span.ion-ios-arrow-up
    .row.mb-5
      .col-md-3
        .ftco-footer-widget.mb-3
          h2.ftco-heading-2 KIWI
          p
            | An internal web system that makes a KEVIIAN's life simple. :)
          //p
            | People have been pronouncing my name wrongly, so I thought why not I just name myself KIWI. 
          ul.ftco-footer-social.list-unstyled.float-md-left.float-lft.mt-5
            li.ftco-animate
              a(href='https://www.youtube.com/user/KEMediaX/videos')
                span.icon-youtube
            li.ftco-animate
              a(href='https://www.facebook.com/keviihall')
                span.icon-facebook
            li.ftco-animate
              a(href='https://www.instagram.com/kingedwardviihall/')
                span.icon-instagram
            li.ftco-animate
              a(href='http://kevii.nus.edu.sg')
                span.icon-web
            li

      .col-md-5
        .ftco-footer-widget.mb-3
          h2.ftco-heading-2 NAVIGATION
          .d-flex
            ul.list-unstyled.mr-l-5.pr-l-3.mr-2
            ul.list-unstyled.mr-l-5.pr-l-3.mr-5
              li
                a.py-2.d-block(href='/') Home
              li
                a.py-2.d-block(href='/feedback-res') Feedback (RL)
              li
                a.py-2.d-block(href='/feedback-fac') Feedback (Facilities)
              li
                a.py-2.d-block(href='/booking') Booking System
            ul.list-unstyled.mr-l-5.pr-l-3.mr-5
              li
                a.py-2.d-block(href='/announcement') Announcement
              li
                a.py-2.d-block(href='/menu') Menu              
              li
                a.py-2.d-block(href='/keips') KEIPS  
      .col-md-4
        .ftco-footer-widget.mb-4
          h2.ftco-heading-2 Have a Question?
          .block-23.mb-3
            ul
              li
                span.icon.icon-map-marker
                a(href='https://www.google.com/maps/place/King+Edward+VII+Hall/@1.292403,103.7788886,17z/data=!3m1!4b1!4m5!3m4!1s0x31da1a547778d745:0xdaf702fb4bb699f0!8m2!3d1.2923976!4d103.7810773')    
                  span.text 1A Kent Ridge Rd, Singapore 119224
              li 
                span.text  <br>
              li
                  span.icon.icon-phone
                  a(href='callto:+6565165774')    
                    span.text (+65) 6516 5774
              li 
                span.text  <br>
              li
                  span.icon.icon-envelope
                  a(href='mailto:kehhelp@nus.edu.sg')
                    span.text kehhelp@nus.edu.sg
    .row
      .col-md-12.text-center
      
        .container    
          //-  
            script#_wauh86.
              var _wau = _wau || []; _wau.push(["dynamic", "ghsa36plgy", "h86", "ccccccffffff", "small"]);
            script(async='', src='//waust.at/d.js')      

            | &nbsp; &nbsp; &nbsp;
          a#LTF_hit_href(href='http://livetrafficfeed.com/hit-counter', target='_blank')
            img#LTF_hit_src(src='//livetrafficfeed.com/static/hitcounter/hitcounter.gif?s=17&st=1&u=1&m=7&d=kiwi7.herokuapp.com&c=475d52ac558bfe428ae9715b74b626b5&r=310580138', alt='Website Hit Counter')
          script(src='//livetrafficfeed.com/static/hitcounter/live.js?861127617')
          b &nbsp; VISITS
          small &nbsp; est. since Jul 19
                  
        //-
          a#LTF_hit_href(href='http://livetrafficfeed.com/hit-counter', target='_blank')
            img#LTF_hit_src(src='//livetrafficfeed.com/static/hitcounter/hitcounter.gif?s=1&st=1&u=0&m=7&d=kiwi7.herokuapp.com&c=475d52ac558bfe428ae9715b74b626b5&r=686995221', alt='Hit Counter')
          script(src='//livetrafficfeed.com/static/hitcounter/live.js?909684000')
          b &nbsp; VISITS &nbsp; &nbsp;

          
        centre                
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          | Copyright 
          script.
            document.write(new Date().getFullYear());
          |  All rights reserved | This template is made 
          //i.icon-heart.color-danger(aria-hidden='true')
          |  by 
          a(href='https://colorlib.com', target='_blank') Colorlib
          // Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0.
          // loader
          #ftco-loader.show.fullscreen
            svg.circular(width='48px', height='48px')
              circle.path-bg(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke='#eeeeee')
              circle.path(cx='24', cy='24', r='22', fill='none', stroke-width='4', stroke-miterlimit='10', stroke='#F96D00')
          script(src='js/jquery.min.js')
          script(src='js/jquery-migrate-3.0.1.min.js')
          script(src='js/popper.min.js')
          script(src='js/bootstrap.min.js')
          script(src='js/jquery.easing.1.3.js')
          script(src='js/jquery.waypoints.min.js')
          script(src='js/jquery.stellar.min.js')
          script(src='js/owl.carousel.min.js')
          script(src='js/jquery.magnific-popup.min.js')
          script(src='js/aos.js')
          script(src='js/jquery.animateNumber.min.js')
          script(src='js/bootstrap-datepicker.js')
          script(src='js/scrollax.min.js')
          script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false')
          script(src='js/google-map.js')
          script(src='js/main.js')
