.py-1.bg-black
  .container
    .row.no-gutters.d-flex.align-items-start.align-items-center.px-md-0
      .col-lg-12.d-block
        .row.d-flex
          .col-md.pr-4.d-flex.topper.align-items-center
            .icon.mr-2.d-flex.justify-content-center.align-items-center
              span.icon-phone2
            a(href='callto:+6597243063')    
              span.text HA: +65 9724 3063
          .col-md.pr-4.d-flex.topper.align-items-center
            .icon.mr-2.d-flex.justify-content-center.align-items-center
              span.icon-phone2
            a(href='callto:+6565161515')    
              span.text OFM: +65 6516 1515
          .col-md.pr-4.d-flex.topper.align-items-center
            .icon.mr-2.d-flex.justify-content-center.align-items-center
              span.icon-phone2
            a(href='callto:+6568741616')   
              span.text OCS: +65 6874 1616
          .col-md.pr-4.d-flex.topper.align-items-center
            .icon.mr-2.d-flex.justify-content-center.align-items-center
              span.icon-paper-plane
            a(href='mailto:kehhelp@nus.edu.sg')  
              span.text kehhelp@nus.edu.sg
          .col-md.pr-4.d-flex.topper.align-items-center
            .icon.mr-2.d-flex.justify-content-center.align-items-center
              span.icon-paper-plane
            a(href='mailto:kehjcrc@nus.edu.sg')  
              span.text kehjcrc@nus.edu.sg                

nav#ftco-navbar.navbar.navbar-expand-lg.navbar-dark.ftco_navbar.bg-dark.ftco-navbar-light
  .container
    //-
      a.navbar-brand(href='/') 
        img(src='images/kelogo_resized.png' width="30" height="30")
    a.navbar-brand(href='/') KIWI 

    // BEGIN: Powered by Supercounters.com
    script(type='text/javascript', src='//widget.supercounters.com/ssl/online_i.js')
    script(type='text/javascript').
      sc_online_i(1550739,"ffffff","2e2727");
    br
    noscript
      a(href='https://my.ipaddress.is/') My IP Address
    // END: Powered by Supercounters.com
    
         
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#ftco-nav', aria-controls='ftco-nav', aria-expanded='false', aria-label='Toggle navigation')
      span.oi.oi-menu
      |  Menu
    #ftco-nav.collapse.navbar-collapse
      ul.navbar-nav.ml-auto
        li.nav-item.active
          a.nav-link.cta.cta-colored(href='/') Home
        li.nav-item.dropdown
          a#dropdown04.nav-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Feedback
          .dropdown-menu(aria-labelledby='dropdown04')
            a.dropdown-item(href='/feedback-res') Residential Life
            a.dropdown-item(href='https://uhms.nus.edu.sg/students/Default.aspx?Params=L9ezxPcQnQsDuaBX%2bLFbaVCjyFjDa5W4') Facilities

        li.nav-item
          a.nav-link(href='/booking') Booking System
        li.nav-item
          a.nav-link(href='/announcement') Announcement
        li.nav-item
          a.nav-link(href='/menu') Menu
        li.nav-item
          a.nav-link(href='/keips') KEIPS
