doctype html
html(lang='en')
  head
    title KIWI Announcement
    include includes/css_link.pug
    
    script.
        function myFunction(){
            var input, filter, announcement, li, p, i, txtValue;
            
            input = document.getElementById("mySearch");
            filter = input.value.toUpperCase();
            if (filter.length == 0){
                document.getElementById("searchresult").innerHTML = "";
                return false;
            }

            var messagehtml ="<body><h5> Search result for '" + filter +"' : </h5>" ;
            announcement = document.getElementById("myAnnouncement");
            li = announcement.getElementsByTagName("li");

            for (i = 0; i < li.length; i++) {
                h5 = li[i].getElementsByTagName("h5")[0];
                h8 = li[i].getElementsByTagName("h8")[0];
                p = li[i].getElementsByTagName("p")[0];

                if (p) {
                    txtValue = p.textContent || p.innerText;

                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        messagehtml += "<br><h5 style= 'color:rgb(143, 81, 81);font-size:15px;'>" + h5.innerText + ",&nbsp;&nbsp;&nbsp;&nbsp;" + h8.innerText +  "<\h5>";
                        messagehtml += "<p style='color:rgb(143, 81, 81);font-size:15px;'>" + txtValue + "</p>";
                    }
                 
                    // else {
                    //- li[i].style.display = "none";
                    //- }
                }
                //li[0].style.display = "none";
            }
            document.getElementById("searchresult").innerHTML = messagehtml;
            return false;
        };
  

  body.goto-here
    // NAVIGATION BAR
    include includes/nav.pug

    // TITLE 
    include includes/bg_img.pug
    .hero-wrap.hero-bread(style="background-image: url("+img_url+")")
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2
                a(href='/') Home
              span Announcements
            h1.mb-0.bread Announcements

    // CONTENT
    section.ftco-section.contact-section.bg-light
      .container
        .row.d-flex.justify-content-center.mb-5.contact-info(style='margin-top: -300px;')
          .col-lg-8.text.ftco-animate
            form.search-form(onsubmit='myFunction()',target= 'dummyframe')
                .form-group
                    span.icon.ion-ios-search(onclick='myFunction()',target= 'dummyframe')
                    input.form-control(name = 'mySearch', id = 'mySearch', type='text', placeholder='Type a keyword and hit enter')
      .container
        .row.d-flex.justify-content-center.mb-5.contact-info(style='margin-top: 120px;')
          .col.d-flex.text.ftco-animate
            .info.bg-white.p-4
                p(id = 'searchresult')

      .container
        .row.justify-content-center.mb-3.pb-3(style='margin-top: -75px;')
          .col-lg-8.text.ftco-animate
            .pt-5.mt-5
              ul.comment-list(id='myAnnouncement')
                each row_announcement in rows_announcement
                    li.comment
                        .vcard.bio
                            img(src='images/msg.png', alt='Image placeholder')
                        .comment-body
                            h5 #{row_announcement.name}
                            h8(style="color:rgb(188, 188, 188);font-size:15px;") #{row_announcement.date} AT #{row_announcement.time}
                            p #{row_announcement.announcement}
                            p

              // END comment-list

    // FOOTER
    include includes/footer.pug

iframe#dummyframe(width='0', height='0', border='0', name='dummyframe')
