doctype html
html(lang='en')
  head
    title KIWI Booking System
    include includes/css_link.pug

    // css style for booking form
    style.
      #formtitle {
      text-align: center;
      font-family: allura;
      font-size: 50px;
      line-height: 1;
      padding: 0;
      margin: 0;
      color: white;
      text-shadow: 1px 1px 2px #292929, -1px -1px 0.5px #292929;
      }
      #form_container {
      box-shadow: 2px 2px 8px #292929;
      border: none;
      }      

    // css style for tab menu
    style.
      body {font-family: Arial;}
      #tab_container {
      padding: 1% 6%;
      align: left;
      }
      /* Style the tab */
      .tab {
      overflow: hidden;
      border: 1px solid #ccc;
      border-radius:6px;
      background-color: #f1f1f1;
      }
      /* Style the buttons inside the tab */
      .tab button {
      background-color: inherit;
      float: left;
      border: none;
      outline: none;
      cursor: pointer;
      padding: 14px 16px;
      transition: 0.3s;
      font-size: 17px;
      }
      .tab button:hover {
      background-color: #ddd;
      color: black;
      }
      /* Create an active/current tablink class */
      .tab button.active {
      background-color: #ccc;
      }
      /* Style the tab content */
      .tabcontent {
      display: none;
      padding: 0% 8%;
      border: none;
      width: 92%;
      }
      #btn01 {
      color: purple;
      }
      #btn02 {
      color: blue;
      }
      #btn03 {
      color: hotpink;
      }
      #btn04 {
      color: green;
      }
      #btn05 {
      color: orange;
      }
      #btn06 {
      color: deeppink;
      }
      #btn07 {
      color: cyan;
      }
      #btn08 {
      color: indigo;
      }
      #btn09 {
      color: coral;
      }
      #btn10 {
      color: teal;
      }
      #btn11 {
      color: grey;
      }
      #btn12 {
      color: maroon;
      }
      #btn13 {
      color: navy;
      }
 
    //calendar
    include includes/calendar.pug

  body.goto-here
    include includes/nav.pug
    // TITLE 
    .hero-wrap.hero-bread(style="background-image: url('images/wallpaper_booking.jpg');")
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2
                a(href='/') Home
              span Booking
            h1.mb-0.bread Booking 
            h1.mb-0.bread - Facilities Reservation -
    // CONTENT

    section.ftco-section.contact-section.bg-light
      .container

        .row.justify-content-center.mb-3.pb-3
          .col-lg-12.text.ftco-animate(style="padding-right: 8%; padding-left:8%; margin-top:-5%")          
              h4 Get to know KEVII Booking System...
              ul
                li
                  | This procedure only applies to hall CCAs and Student Interest Groups (SIGs) for any ad-hoc events, meetings or activities within the hall. For external event engagement bookings, please email KEH help (
                  a(href='mailto:e0196786@u.nus.edu')
                    text kehhelp@nus.edu.sg
                  | ) directly.
                li
                  | The following venues are available for booking by filling in the form:
                  ol
                    li Communal Hall
                    li Multi-Purpose Sports Court (MPC)
                    li Tennis Court
                    li Squash Court 
                    li Dance Studio[1][2] 
                    li Marketing Room
                    li Dining Hall
                    li Heritage Room
                  br
                  ul
                    li [1] Booking priority of Dance Studio goes to KE Dance.
                    li
                      | [2] Bookings for Dance studio are subject to additional regulations as stated in documents found in the 63rd Online Resources. CCAs that book these rooms are to adhere to the additional regulations strictly.
                    li
                      | Meeting Room 2 and Incubation Room are not available for booking unless all other rooms are unavailable for booking. In such a case, please email Kellie at (
                      a(href='mailto:e0196786@u.nus.edu')
                        text kellie@nus.edu.sg
                      | ) and CC JCRC at (
                      a(href='mailto:KEHJCRC@nus.edu.sg')
                        text KEHJCRC@nus.edu.sg
                      | ).
                    li
                      | For the booking of the Band Room, please check the room availability at 
                      a(href='https://tinyurl.com/KEbandroom1920')
                        text tinyurl.com/KEbandroom1920                    
                      | and email Sze Khen (
                      a(href='mailto:e0196786@u.nus.edu')
                        text e0196786@u.nus.edu
                      | ) for booking. Bookings for Band Room are subject to additional regulations as stated in documents found in the 63rd Online Resources. CCAs that book these rooms are to adhere to the additional regulations strictly.
                li
                  | Precedence in booking is as follows: Hall-Wide Events > Block-Wide Events > CCA Activities
                li
                  | In the event a particular venue is already booked by a CCA, and a second CCA which wishes to book during the same time, the latter may seek the opinion of the former. Do note that precedence will be given to the first CCA as it is an earlier booking. It is also up to the former CCA to decide if they are willing to give way or share the venue with the second CCA.
                  br
                  | *“CCAs” shall be deemed to include SIGs.
                li
                  | For booking cancellations, please email Darieca (
                  a(href='mailto:kehjcrc@nus.edu.sg')
                    text dariecalim@u.nus.edu
                  | ) stating your name, booking date and time. Should any CCA been found booking and not utilising the venue at stipulated time, booking priority for the CCA will be penalised.
                li
                  | CCAs holding current bookings will be held liable for any loss or damage to furnishings, equipment, and/or facilities. CCAs are to ensure cleanliness of venues after the end of their event.
                li
                  | Bookings are subject to availability of the venue and nature of the event. Upon successful booking, the JCRC will inform you.
                li
                  | JCRC reserves the right on the final decision on allocation of venues. JCRC also reserves the right to revoke, change or otherwise amend any prior bookings with due notice.
                li Those who do not adhere to the system will not be entertained. 

      // CALENDAR TABS
      .row.justify-content-center
        .container#tab_container
          .tab
            button#defaultOpen.tablinks(onclick="openCalendar(event, 'all')") All
            button#btn01.tablinks(onclick="openCalendar(event, 'cal01')") Comm Hall 01
            button#btn02.tablinks(onclick="openCalendar(event, 'cal02')") Dining Hall 02
            button#btn03.tablinks(onclick="openCalendar(event, 'cal03')") Heritage Room 03
            button#btn04.tablinks(onclick="openCalendar(event, 'cal04')") Multi Purpose Court 04
            button#btn05.tablinks(onclick="openCalendar(event, 'cal05')") Squash Court 05
            button#btn06.tablinks(onclick="openCalendar(event, 'cal06')") Tennis Court 06
            button#btn07.tablinks(onclick="openCalendar(event, 'cal07')") KEWOC Room 07
            button#btn08.tablinks(onclick="openCalendar(event, 'cal08')") Marketing Room 08
            button#btn09.tablinks(onclick="openCalendar(event, 'cal09')") Dance Studio 09
            button#btn10.tablinks(onclick="openCalendar(event, 'cal10')") Recreation Room 10
            button#btn11.tablinks(onclick="openCalendar(event, 'cal11')") BBQ Pit 11
            button#btn12.tablinks(onclick="openCalendar(event, 'cal12')") Band Room 12
            //button#btn13.tablinks(onclick="openCalendar(event, 'cal13')") Incub Room 13           
        br  
        // CALENDAR DISPLAY
        #all.tabcontent
          #calendar_all
        #cal01.tabcontent
          #calendar_01
        #cal02.tabcontent
          #calendar_02
        #cal03.tabcontent
          #calendar_03
        #cal04.tabcontent
          #calendar_04
        #cal05.tabcontent
          #calendar_05
        #cal06.tabcontent
          #calendar_06
        #cal07.tabcontent
          #calendar_07
        #cal08.tabcontent
          #calendar_08
        #cal09.tabcontent
          #calendar_09
        #cal10.tabcontent
          #calendar_10 
        #cal11.tabcontent
          #calendar_11
        #cal12.tabcontent
          #calendar_12
        //-
          #cal13.tabcontent
            #calendar_13                 
        br  
        br

      #modal0.modal
        form.modal-content(action='/action_page.php', style='padding:20px;')
          h2 Event Details
            hr(style='border: 1px solid #f1f1f1; margin-bottom: 25px;')
          h4
            //| Venue: 
            //span#ev_venue  
            //br
            | Venue       : 
            span#ev_venue   
            br          
            | CCA         : 
            span#ev_cca_name  
            br
            | Start time  : 
            span#ev_starttime  
            br
            | End time    : 
            span#ev_endtime  
            br
          button.cancelbtn(type='button', onclick="document.getElementById('modal0').style.display='none'", style='float: centre; width: 50%;   padding: 14px 20px; background-color: #f44336;') OK

      // BOOKING FORM
      .container#form_container(style='margin-top: 40px;')
        .row.justify-content-center
          
          //action='/feedback-res-sent', , method='post', enctype='multipart/form-data'
          form#myForm.bg-white.p-5.contact-form(name='submit-to-google-sheet', action='', method='post', enctype='multipart/form-data', autocomplete='on')
            .row.justify-content-center
              p#formtitle Facilities Reservation Form
            .row.justify-content-center
              p(style='color:Tomato;') Please ensure your booking is made 3 days in advance.  

            .row.align-items-end
              .col-md-12
                .form-group
                  label(for='name') Name of CCA
                  input.form-control(type='text', name='cca_name', required='required')
              .col-md-12
                .form-group
                  label(for='purpose') Purpose
                  input.form-control(type='text', name='purpose', required='required')
              .col-md-6
                .form-group
                  label(for='venue') Venue
                  select.form-control(type='text', name='venue', required='required')
                    option(value='Comm Hall 01') Comm Hall 01
                    option(value='Dining Hall 02') Dining Hall 02
                    option(value='Heritage Room 03') Heritage Room 03
                    option(value='Multi Purpose Court 04') Multi Purpose Court 04
                    option(value='Squash Court 05') Squash Court 05
                    option(value='Tennis Court 06') Tennis Court 06
                    option(value='KEWOC Room 07') KEWOC Room 07
                    option(value='Marketing Room 08') Marketing Room 08
                    option(value='Dance Studio 09') Dance Studio 09
                    option(value='Recreation Room 10') Recreation Room 10
                    option(value='BBQ Pit 11') BBQ Pit 11
                    option(value='Band Room 12') Band Room 12
                    //option(value='Incub Room 13') Incub Room 13                    
              .col-md-6
                .form-group
                  label(for='email') Email
                  input.form-control(type='email', name='email', required='required')
                  //input#datepicker.form-control(type='text', name='date', required='required')
              .col-md-4
                .form-group
                  label(for='date') Date
                  input#date.form-control(type='date', name='date', required='required', max='2020-7-31')
              .col-md-4
                .form-group
                  label(for='starttime') Start Time
                  input#starttime.form-control(type='time', name='starttime', required='required', min='2019-06-10T00:00', max='2019-12-31T00:00')    
              .col-md-4
                .form-group
                  label(for='endtime') End Time
                  input#endtime.form-control(type='time', name='endtime', required='required', max='2019-12-31T00:00')
              .form-group
                input#submitbtn.btn.btn-primary.py-3.px-5(type='submit', value='Book Now!')
 
    script.
      var today = new Date();
      var min_date = new Date(today.getTime()+1000*60*60*24*3).toISOString().split('T')[0]; // 3 days after today
      console.log(min_date); 
      document.getElementById("date").setAttribute("min", min_date);   

    //to submit html form content to google sheet (url below linked to Google Script webApp)
    script.
      const scriptURL = 'https://script.google.com/macros/s/AKfycbwoDCDD5Ju9lLDGGK_0YSrV5EACOdDv9VpJg7HZTzJDSfgSUSw/exec'
      const form = document.forms['submit-to-google-sheet']
      form.addEventListener('submit', e => {
      // prevent form submission  
      e.preventDefault();

      // prevent user from entering endtime that is before the starttime
      var start = document.getElementById("starttime").value;
      var end = document.getElementById("endtime").value;
      if(start >= end) {
      alert("End Time must be after Start Time!");     
      console.log('ohhhh!');
      return false;  // back to the original form 
      }

      //submit the form to google sheet
      fetch(scriptURL, { method: 'POST', body: new FormData(form)})
      .then(response => console.log('Success!', response))
      .catch(error => console.error('Error!', error.message))
      window.location.href = "/booking-sent";
      })

    script.
      function openCalendar(evt, calName) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {
      tabcontent[i].style.display = "none";
      }
      tablinks = document.getElementsByClassName("tablinks");
      for (i = 0; i < tablinks.length; i++) {
      tablinks[i].className = tablinks[i].className.replace(" active", "");
      }
      document.getElementById(calName).style.display = "block";
      evt.currentTarget.className += " active";

      //document.getElementsByClassName("fc-listYear-button").click();
      //document.getElementsByClassName("fc-dayGridMonth-button").click();

      //if (calName == "cal01") {
      //open_cal01 ();
      //}

      }
      // Get the element with id="defaultOpen" and click on it
      document.getElementById("defaultOpen").click();      
                
    script. 
      var modal0 = document.getElementById('modal0');
      window.onclick = function(event) {
      if (event.target == modal0) {
      modal0.style.display = "none";
      }
      }

    // FOOTER
    include includes/footer.pug