doctype html
html(lang='en')
  head
    title KIWI Bookings Sent
    include includes/css_link.pug
  body.goto-here
    include includes/nav.pug
    // TITLE 
    include includes/bg_img.pug
    .hero-wrap.hero-bread(style="background-image: url("+wallpaper_booking+")")
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2
                a(href='/') Home
              span Feedback
            h1.mb-0.bread Booking Received!<br> Please check your email for booking status :)
            .row.justify-content-center
                .tag-widget.post-tag-container.mb-5.mt-5
                  .tagcloud
                    a.tag-cloud-link(style="background-color:rgba(255, 0, 0, 0.5); color:white", href='/booking#tab_container') &nbsp;&nbsp;&nbsp;&nbsp;Back to Calendar&nbsp;&nbsp;&nbsp;&nbsp;            
             
    // FOOTER
    include includes/footer.pug
