doctype html
html(lang='en')
  head
    title CCAs
    include includes/css_link.pug

  body.goto-here
    include includes/nav.pug
    // TITLE 
    include includes/bg_img.pug
    .hero-wrap.hero-bread(style="background-image: url("+bg3+")")    
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2s
                a(href='/',style='color:white;') Home
            h12.mb-0.bread(,style='color:white;') KEVII CCA
    // CONTENT
    section.ftco-section.bg-light
      .container
        .row
          .col-md-8.col-lg-10.order-md-last
            .row
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-1.jpg', alt='Colorlib Template')
                    span.status 30%
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span.mr-2.price-dc $120.00
                          span.price-sale $80.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-2.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-3.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-4.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-5.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-6.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-7.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-8.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
            .row.mt-5
              .col.text-center
                .block-27
                  ul
                    li
                      a(href='#') <
                    li.active
                      span 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li
                      a(href='#') >
          .col-md-4.col-lg-2.sidebar
            .sidebar-box-2
              h2.heading.mb-4
                a(href='#') Clothing
              ul
                li
                  a(href='#') Shirts & Tops
                li
                  a(href='#') Dresses
                li
                  a(href='#') Shorts & Skirts
                li
                  a(href='#') Jackets
                li
                  a(href='#') Coats
                li
                  a(href='#') Sleeveless
                li
                  a(href='#') Trousers
                li
                  a(href='#') Winter Coats
                li
                  a(href='#') Jumpsuits
            .sidebar-box-2
              h2.heading.mb-4
                a(href='#') Jeans
              ul
                li
                  a(href='#') Shirts & Tops
                li
                  a(href='#') Dresses
                li
                  a(href='#') Shorts & Skirts
                li
                  a(href='#') Jackets
                li
                  a(href='#') Coats
                li
                  a(href='#') Jeans
                li
                  a(href='#') Sleeveless
                li
                  a(href='#') Trousers
                li
                  a(href='#') Winter Coats
                li
                  a(href='#') Jumpsuits
            .sidebar-box-2
              h2.heading.mb-2
                a(href='#') Bags
              h2.heading.mb-2
                a(href='#') Accessories
            .sidebar-box-2
              h2.heading.mb-4
                a(href='#') Shoes
              ul
                li
                  a(href='#') Nike
                li
                  a(href='#') Addidas
                li
                  a(href='#') Skechers
                li
                  a(href='#') Jackets
                li
                  a(href='#') Coats
                li
                  a(href='#') Jeans
    // FOOTER
    include includes/footer.pug
