doctype html
html(lang='en')
  head
    title CCAs
    include includes/css_link.pug

  body.goto-here
    include includes/nav.pug
    // TITLE 
    include includes/bg_img.pug
    .hero-wrap.hero-bread(style="background-image: url("+bg1+")")    
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2s
                a(href='/',style='color:white;') Home
            h12.mb-0.bread(,style='color:white;') KEVII CCA
    // CONTENT
    section.ftco-section.bg-light
      .container
        .row
          .col-md-8.col-lg-10.order-md-last
            .row
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-1.jpg', alt='Colorlib Template')
                    span.status 30%
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span.mr-2.price-dc $120.00
                          span.price-sale $80.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-2.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-3.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-4.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-5.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-6.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-7.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
              .col-sm-6.col-md-6.col-lg-4.ftco-animate
                .product
                  a.img-prod(href='#')
                    img.img-fluid(src='images/template_img/product-8.jpg', alt='Colorlib Template')
                    .overlay
                  .text.py-3.px-3
                    h3
                      a(href='#') Floral Jackquard Pullover
                    .d-flex
                      .pricing
                        p.price
                          span $120.00
                      .rating
                        p.text-right
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                          a(href='#')
                            span.ion-ios-star-outline
                    p.bottom-area.d-flex.px-3
                      a.add-to-cart.text-center.py-2.mr-1(href='#')
                        span
                          | Add to cart 
                          i.ion-ios-add.ml-1
                      a.buy-now.text-center.py-2(href='#')
                        | Buy now
                        span
                          i.ion-ios-cart.ml-1
            .row.mt-5
              .col.text-center
                .block-27
                  ul
                    li
                      a(href='#') <
                    li.active
                      span 1
                    li
                      a(href='#') 2
                    li
                      a(href='#') 3
                    li
                      a(href='#') 4
                    li
                      a(href='#') 5
                    li
                      a(href='#') >
          .col-md-4.col-lg-2.sidebar
            .sidebar-box-2
              h2.heading.mb-4
                a(href='#') Cultural CCAs
              ul
                li
                  a(href='#') AcaKE (A cappella)
                li
                  a(href='#') KE Ensemble
                li
                  a(href='#') KE Band
                li
                  a(href='#') KE Titans (Cheerleading)
                li
                  a(href='#') KE Choir
                li
                  a(href='#') KE Xinyao
                li
                  a(href='#') KE Dance
            .sidebar-box-2
              h2.heading.mb-4
                a(href='#') Sports CCAs
              ul
                li
                  a(href='#') Badminton (M & W)
                li
                  a(href='#') Netball (W)
                li
                  a(href='#') Softball (Mixed)
                li
                  a(href='#') Tennis (M & W)
                li
                  a(href='#') Volleyball (M & W)
                li
                  a(href='#') Basketball (M & W)
                li
                  a(href='#') Road Relay (M & W)
                li
                  a(href='#') Squash (M & W)
                li
                  a(href='#') Touch Rugby (M & W)
                li
                  a(href='#') Floorball (M & W)
                li
                  a(href='#') Sepak Takraw (M)
                li
                  a(href='#') Swimming (M & W)
                li
                  a(href='#') Track & Field (M & W)
                li
                  a(href='#') Handball (M & W)
                li
                  a(href='#') Soccer (M & W)
                li
                  a(href='#') Table Tennis (M & W)
                li
                  a(href='#') Ultimate Frisbee (Mixed)
                  
            .sidebar-box-2
              h2.heading.mb-2
                a(href='#') Production CCAs
              ul
                li
                  a(href='#') Chinese Drama
                li
                  a(href='#') Hallplay
                li
                  a(href='#') The Dream Composition

            .sidebar-box-2
              h2.heading.mb-4
                a(href='#') Committee CCAs
              ul
                li
                  a(href='#') Block Committees (AB/CD/E/F/GH)
                li
                  a(href='#') Cultural Management Committee (CMB)
                li
                  a(href='#') KE Angels (Welfare Committee)
                li
                  a(href='#') Merit Awards Board (MAB)
                li
                  a(href='#') Media Committees
                li
                  a(href='#') KEWOC (Orientation Committee)
                li
                  a(href='#') Elections Committee
                li
                  a(href='#') KE Rag Committee
                li
                  a(href='#') Dinner & Dance (DnD)
                li
                  a(href='#') Green Team
                li
                  a(href='#') Sports Management Committee (SMC)
                li
                  a(href='#') KE Flag Committee
                li
                  a(href='#') External Relations Committee (ERC)


    // FOOTER
    include includes/footer.pug
