doctype html
html(lang='en')
  head
    title KIWI Bookings Sent
    include includes/css_link.pug
  body.goto-here
    include includes/nav.pug
    // TITLE 

    include includes/bg_img.pug
    .hero-wrap.hero-bread(style="background-image: url("+wallpaper_feedback+")")
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2
                a(href='/') Home
              span Feedback
            h1.mb-0.bread We heard you!<br> Thanks for letting us know :)
             
    // FOOTER
    include includes/footer.pug