doctype html
html(lang='en')
  head
    title KIWI Feedback Residential Life
    include includes/css_link.pug

  body.goto-here
    include includes/nav.pug
    // TITLE 
    include includes/bg_img.pug
    .hero-wrap.hero-bread(style="background-image: url("+img_url+")")
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2
                a(href='/') Home
              span Feedback
            h1.mb-0.bread Feedback 
            h1.mb-0.bread - Residential Life -
    // CONTENT            
    section.ftco-section.contact-section.bg-light
      .container
        .row.block-9
          form.bg-white.p-5.contact-form(action='/feedback-res-sent', method='POST', style='margin-top: -150px;',enctype='multipart/form-data')
            //- .form-group
            //-   label(for='category') Category
            //-   input.form-control(type = 'text', name = 'category', value ='Residential Life',readonly)
            .form-group
              label(for='name') Name (Optional)
              input.form-control(type='text', name='name')
            .form-group
              label(for='contact') Contact (Optional)
              input.form-control(type='text', name = 'contact')
            .form-group
              label(for='title') Title
              input.form-control(type='text', name = 'title',required)
            .form-group
              label(for='message') Message
              textarea.form-control(name='message', cols='30', rows='7',required)
            .form-group
                label(for='attachment') Attachment (Optional)
                input.form-control(type='file',name='attachment', accept='image/*')
            .form-group
              input.btn.btn-primary.py-3.px-5(type='submit', value='Send Message')

    // FOOTER
    include includes/footer.pug  
