doctype html
html(lang='en')
  head
    title KIWI KEIPS
    include includes/css_link.pug
    

  body.goto-here
    include includes/nav.pug
    // TITLE 
    .hero-wrap.hero-bread(style="background-image: url('images/wallpaper_keips.jpg');")
      .container
        .row.no-gutters.slider-text.align-items-center.justify-content-center
          .col-md-9.ftco-animate.text-center
            p.breadcrumbs
              span.mr-2
                a(href='/') Home
              span KEIPS
            h1.mb-0.bread KEIPS

    // CONTENT
    section.ftco-section.contact-section.bg-light
      .container
        .row.d-flex.justify-content-center.mb-5.contact-info(style='margin-top: -310px;')
          .col-lg-8.text.ftco-animate
            form.search-form(method = 'post', action = '/keips')
                .form-group
                    input.form-control(name = 'matnet', id = 'matnet', type='text',  placeholder='KEY IN YOUR MATNET (E.G. 567X4567)')
                    //input.icon(type='submit', style = 'margin-top: -21px; opacity: 1; height:40px; width:100px;margin-right: -5px;',  method = 'post', action = '/keips')
                    span.icon.ion-ios-search
          span(style = 'color:white;font-size:17px; font-weight: 500;') Last 4 digits of Matric Number + Last 4 digits of NUSNET ID   
          br 
          span(style = 'color:white;font-size:17px; font-weight: 500;') &nbsp (e.g. A1234567X + E1234567 -> 567X4567)
          

    // FOOTER
    include includes/footer.pug

iframe#dummyframe(width='0', height='0', border='0', name='dummyframe')
